<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>DatabaseExample1</display-name>
	<servlet>
		<servlet-name>Registration</servlet-name>
		<display-name>Registration</display-name>
		<description></description>
		<servlet-class>com.sun.service.Registration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginPage</servlet-name>
		<display-name>LoginPage</display-name>
		<description></description>
		<servlet-class>com.sun.service.LoginPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Success</servlet-name>
		<display-name>Success</display-name>
		<description></description>
		<servlet-class>com.sun.service.Success</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Search</servlet-name>
		<display-name>Search</display-name>
		<description></description>
		<servlet-class>com.sun.service.Search</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Display</servlet-name>
		<display-name>Display</display-name>
		<description></description>
		<servlet-class>com.sun.service.Display</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewDB</servlet-name>
		<display-name>ViewDB</display-name>
		<description></description>
		<servlet-class>com.sun.service.ViewDB</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Deletesuccess</servlet-name>
		<display-name>Deletesuccess</display-name>
		<description></description>
		<servlet-class>com.sun.service.Deletesuccess</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Updatesuccess</servlet-name>
		<display-name>Updatesuccess</display-name>
		<description></description>
		<servlet-class>com.sun.service.Updatesuccess</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchSuccess</servlet-name>
		<display-name>SearchSuccess</display-name>
		<description></description>
		<servlet-class>com.sun.service.SearchSuccess</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchDB</servlet-name>
		<display-name>SearchDB</display-name>
		<description></description>
		<servlet-class>com.sun.service.SearchDB</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchBackend</servlet-name>
		<display-name>SearchBackend</display-name>
		<description></description>
		<servlet-class>com.sun.service.SearchBackend</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/LoginPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Success</servlet-name>
		<url-pattern>/Success</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Display</servlet-name>
		<url-pattern>/Display</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewDB</servlet-name>
		<url-pattern>/ViewDB</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deletesuccess</servlet-name>
		<url-pattern>/Deletesuccess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Updatesuccess</servlet-name>
		<url-pattern>/Updatesuccess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchSuccess</servlet-name>
		<url-pattern>/SearchSuccess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchDB</servlet-name>
		<url-pattern>/SearchDB</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchBackend</servlet-name>
		<url-pattern>/SearchBackend</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
